#!/bin/sh

[Service]
WorkingDirectory=/PATH/TO/kimsufi-alert
ExecStart=/usr/bin/npm start
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kimsufialert
User=nodeuser
Group=nodeuser

[Install]
WantedBy=multi-user.target
